<div class="flex bg-white border-b items-center justify-between">
    <a href="/" class="text-purple-700 px-6 font-bold uppercase text-2xl">BookChor</a>

    <form action="{% url "filter" %}" method="get" class="flex-1 px-6">
        <input type="search" name="search" class="border w-full bg-slate-100 placeholder:font-light border-slate-200 px-4 py-2 rounded-sm focus:outline-none focus:ring-1 focus:ring-purple-700" placeholder="Search by Title, Author, ISBN...">
    </form>

    <div class="flex h-full border-l border-slate-200">
        <a href="{% url 'home' %}" class="px-6 py-5 hover:bg-slate-50 transition">Home</a>
        {% if user.is_authenticated %}
        <p class="px-6 py-5 transition border-l border-slate-200">Hello, {{ request.user.first_name }}</p>
        <a href="{% url 'logout' %}" class="px-6 py-5 transition border-l border-slate-200">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="px-6 py-5 hover:bg-slate-50 transition border-l border-slate-200">Login</a>
        {% endif %}
        <a href="#" class="flex items-center px-8 bg-purple-700 text-white font-semibold hover:bg-purple-800 transition">Cart</a>
    </div>
</div>

<div class="flex bg-slate-100 border-b overflow-x-auto whitespace-nowrap scrollbar-hide">
    <a href="{% url 'home' %}" class="text-slate-700 py-2.5 px-5 text-sm font-medium hover:bg-slate-200 border-r border-slate-200 transition-colors">
        All Books
    </a>
    {% for genere in generes %}
    <a href="{% url "category_filter" genere.slug %}" class="text-slate-700 py-2.5 px-5 text-sm font-medium hover:bg-slate-200 border-r border-slate-200 transition-colors">
        {{genere.title}}
    </a>
    {% endfor %}
</div>

<div class="flex bg-slate-50 border-b overflow-x-auto whitespace-nowrap scrollbar-hide py-6 px-4 gap-8">
    {% for author in authors %}
    <a href="{% url "category_filter" author.slug %}" class="flex flex-col items-center group shrink-0">

        {% if author.image %}
            <img src="{{ author.image.url }}" 
                 alt="{{ author.name }}" 
                 class="w-24 h-24 md:w-32 md:h-32 rounded-full object-cover">
        {% else %}
            <div class="w-24 h-24 md:w-32 md:h-32 rounded-full overflow-hidden bg-slate-200 border-2 border-slate-100 group-hover:border-purple-500 text-2xl font-bold flex items-center justify-center text-purple-400 transition-all duration-300">
                {{ author.name|slice:":1" }}
            </div>
        {% endif %}

        <h2 class="mt-3 text-sm font-semibold text-slate-800 capitalize group-hover:text-purple-700 transition-colors">
            {{ author.name }}
        </h2>

    </a>
    {% endfor %}
</div>
