<div class="flex bg-white border-b items-center justify-between">
    <a href="{% url "dashboard" %}" class="text-purple-700 px-6 font-bold text-2xl">
        Admin Dashboard
    </a>

    <div class="flex h-full">
        <a href="{% url "admin_manage_book" %}" class="px-6 py-4 hover:bg-slate-50 transition border-l border-slate-200">Books</a>
        <a href="" class="px-6 py-4 hover:bg-slate-50 transition border-l border-slate-200">Orders</a>
        <a href="" class="px-6 py-4 hover:bg-slate-50 transition border-l border-slate-200">Users</a>
        <a href="/" class="flex items-center px-8 bg-purple-700 text-white font-semibold hover:bg-purple-800 transition">View Site</a>
    </div>
</div>
